@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    @apply transition-colors duration-300;
  }

  body {
    @apply min-h-screen bg-light-background text-light-text dark:bg-dark-background dark:text-dark-text transition-colors duration-300;
  }
}

.page-transition-container {
  position: relative;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.react-select__control {
  @apply border border-gray-300 rounded px-4 py-1 w-full shadow-none;
}
